.footer-menu {
  background-color: #d75d0e;
  @include current-font(18px,400,200%);
  font-family: $secondary-font-family;
  &__container {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 100px 0 85px;
    @media (max-width:560px) {
      flex-direction: column;
      justify-content: center;
      padding: 30px 0 20px;
      align-items: center;
    }
  }
  &__cols {
    flex: 0 1 33.333%;
  }
  &__list-item {
    text-align: center;
  }
}

.footer-adv {
  background: url("../img/newsletter_bg.jpg") center no-repeat;
  background-size: cover;
  &__container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }
  &__text {
    padding: 80px 20px 200px;
    @include current-font(18px,300,133%);
    font-family: 'ProximaNova', sans-serif;
    text-align: center;
    color: $main-color;
    @media (max-width:560px) {
      padding: 50px 20px 50px;
    }
    a {
    font-weight: 700;
      color: inherit;
    }
  }
}

.footer-menu, .footer-adv {
  a {
    color: $main-color;
    &:hover {
      opacity: 0.8;
    }
  }
}
